body 
	{
	background-image: url("images/bodybg.gif");
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	font-family: tahoma, arial, sans;
	font-size: 11px;
	text-align: center;
	}

div#container
	{
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	width: 736px;
/*	height: 100%; */
	min-height: 100%;
	background-color: #ffffff;
	border-right: 1px solid #000000;
	background-image: url("images/containerbg.gif");
	background-repeat: repeat-y;
	text-align: left;
	}
h1
	{
	margin: 0 0 0 1px;
	width: 735px;
	height: 129px;
	background-image: url("images/header.gif");
	background-color: #ffffff;
	font-size: 1px;
	color: #ffffff;
	text-align: center;
	}
code
	{
	display: block;
	background-color: #ffffff;
	color: #008800;
	border: 1px solid #9097b2;
	margin: 8px 40px 8px 40px;
	padding: 5px;
	}

/* Mainmenu on the left */

ul#mainmenu
	{
	list-style-type: none;
	background-image: url("images/menubg.gif");
	background-position: bottom right;
	width: 150px;
	padding-left: 0;
	margin-left: 0;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 20px;
	float: left;
	}
ul#mainmenu h3
	{
	background-image: url("images/menuheaderbg.gif");
	background-position: top right;
	background-repeat: no-repeat;
	margin: 0;
	padding: 3px 0 2px 20px;
	color: #ff2000;
	font-weight: normal;
	font-size: 10px;
	}
ul#mainmenu a
	{
	background-image: url("images/menuitem.gif");
	background-position: top right;
	margin-bottom: 3px;
	display: block;
	height: 23px;
	text-decoration: none;
	border-bottom: 1px solid #3333cc;
	border-top: 1px solid #6666ff;
	color: #ff9000;
	padding-left: 20px;
	text-align: left;
	text-transform: uppercase;
	}
ul#mainmenu li
	{

	}
ul#mainmenu a:hover
	{
	background-image: url("images/menuitemhover.gif");
	background-position: top right;
	}
ul.submenu
	{
	list-style-type: none;
	padding: 2px 0 5px 0;
	margin: 0;
	background-image: url("images/submenubg.gif");
	background-position: top right;
	}
ul#mainmenu ul.submenu a
	{
	padding-left: 30px;
	margin-bottom: 0px;
	border: 0px;
	height: auto;
	text-transform: capitalize;
	background-image: none;
	}
ul#mainmenu ul.submenu a:hover
	{
	color: #ffbb33;
	text-decoration: underline;
	}
ul#mainmenu ul.submenu li
	{

	}
/* Special Items */

div.specialitem
	{
	width: 120px;
	margin-left: 20px;
	margin-top: 7px;
	clear: left;
	float: left;
	border: 1px solid #828282;
	background-color: #cfd5ea;
	padding: 1px;
	display: inline;
	}
div.specialitem h3
	{
	background-color: #ffffff;
	color: #960202;
	margin: 0 0 5px 0;
	font-size: 100%;
	padding: 7px 5px 0 5px;
	text-align: center;
	}

/* Contentbox */

div#content
	{
	margin-left: 170px;
	background-color: #d9dde9;
	border: 1px solid #9097b2;
	}
div#content h2
	{
	background-color: #ffffff;
	color: #960202;
	font-size: 180%;
	}
div#content h3
	{
	border: 1px solid #9097b2;
	margin: 1px;
	padding-left: 3px;
	background-color: #e2e5f1;
	font-size: 120%;
	}
div#content h4
	{
	border-bottom: 1px solid #e2e5f1;
	font-weight: normal;
	padding-left: 8px;
	font-size: 100%;
	}
div#content p
	{
	padding-left: 5px;
	padding-right: 5px;
	}

/* Moviepacks */

dl.moviepack
	{
	margin: 5px 30px 5px 30px;
	border: 1px solid #9097b2;
	}
dl.moviepack dt
	{
	color: #960202;
	font-weight: bold;
	font-size: 120%;
	margin-top: 5px;
	background-color: #ffffff;
	}
dl.moviepack dd
	{
	margin-left: 1px;
	padding: 5px;
	border-bottom: 1px solid #e2e5f1;
	}
dl.moviepack dd.description
	{
	background-color: #d9dde9;
	display: block;
	float: right;
	width: 300px;
	border: 1px solid #e2e5f1;
	margin-left: 1px;
	min-height: 50px;
	height: 50px;
	}
dl.moviepack dd.images
	{
	clear: both;
	}
dl.moviepack img
	{
	border: 3px solid #9097b2;
	margin: 5px 12px 0 12px;
	}



/* Copyright */

span#copyrightnotice
	{
	display: block;
	text-align: center;
	margin-left: 170px;
	margin-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	}

span#copyrightnotice img
	{
	border: 0px;
	}
